body {
  background-image: url(maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #000000;
  font-size: 30px;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
}
#mail {
  width: 80px;
  height: 80px;
}

#logo {
  width: 100px;
  height: 100px;
}

#logout_button{
  float: right;
  background-color: red;
  height: 50px;
  box-shadow: 2px 2px 10px #bd5252;
  border-radius: 8px;
  margin-right: 10px;
}

#Trending_rooms{
  box-shadow: 5px 5px 30px #ffffff;
  border-radius: 8px;
  overflow: scroll;
  width: 60%;
  height: 400px;
  color: rgb(255, 255, 255);
}

#add_room{
  background-color: rgb(14, 50, 161);
  box-shadow: 2px 2px 10px #ffffff;
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  color: #ffffff;
}

#room_name{
  border-radius: 8px;
  color: black;
  height: 25px;
}

#username{
  border: #000000 10px;
}